@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
$font-stack: 	'Open Sans', sans-serif;
.inner-addon { 
    position: relative; 
}
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color:red;
}
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

app-typeahead{
  ul{
    li{
      display: block!important;

      a{
        color: #333!important;
      }
    }
  }

}
.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}
#cssmenu {
  background: #f96e5b;
  width: auto;
  padding : 0;
  margin-top:20px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: inline-block;
    zoom: 1;

    li {
      display: inline-block;
      padding: 0;
      margin: 0;

      a {
        color: #ffffff;
        text-decoration: none;
        display: block;
        padding: 15px 25px;
        font-family: $font-stack;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
        position: relative;
        transition: color .5s;
      }
      a:hover {
        color: #333333;
      }
      a:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 5px;
        width: 0;
        background: #333333;
        -webkit-transition: width .5s;
        -moz-transition: width .5s;
        -ms-transition: width .5s;
        -o-transition: width .5s;
        transition: width .5s;
      }
      a:hover:before {
        width: 100%;
      }
      a:after {
        content: "";
        display: block;
        position: absolute;
        right: -3px;
        top: 19px;
        height: 6px;
        width: 6px;
        background: #ffffff;
        opacity: .5;
      }


    }
    .active a {
      color: #333333;
    }
    .active a:before {
      width: 100%;
    }
    .last > a:after {
      display: none;
    }
  }

  ul:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  .align-right {
    float: right;
  }

  .align-right li.last > a:after{
    display: none;
  }
  .align-right li:first-child a:after {
    display: none;
  }

} 
@media screen and (max-width: 768px) {
  #cssmenu ul{ 
    display:block;
    li {
      float: none;
      display: block;

      a {
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px solid #fb998c;
      }
      .last > a,
      :last-child > a{
        border: 0;
      }
      a:after {
        display: none;
      }
      a:before {
        display: none;
      }
    }
    
  }
  #cssmenu .align-right {
   float:none; 
  }
}
.navbar{
  margin-top:20px;
}





@keyframes example {
    0%   {background-color: red;
          left:0px;bottom:0px;}
    25%  {background-color: yellow;
          left:-200px;bottom:0px;}
    50%  {background-color: blue;
          left:400px;bottom:0px;}
    100% {background-color: green;
          left:400px; bottom:400px;}
}

/* The element to apply the animation to */
.demo.ng-leave,{
    position:relative;
    width:100%;
    background-color: red;
     -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s;
    animation-name: example;
    animation-duration: 2s;
}


.animation-example.ng-enter, 
.animation-example.ng-leave
{ 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 
 
.animation-example.ng-enter.ng-enter-active, 
.animation-example.ng-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}
 
.animation-example.ng-leave-active,
.animation-example.ng-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}
