<div class="row">
	<div class="col-md-12">
		<div class="well">
			<h1>{{product.name}}</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="well">
			<img class="img-rounded" ng-src="{{ product.image }}" style="width:100%;"/>
		</div>
	</div>
	<div class="col-md-8">
		<div class="well">
			<p>Price: {{product.price | currency : "€"}}</p>
			<p>Description: <div class="text-muted">{{product.description}}</div></p>
			
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-8">
				<button class="btn btn-primary" style="width:100%;" ng-click="addProduct(product)">Dodaj v košarico</button>
			</div>
		</div>
		
	</div>

</div>